// Colors
$theme-color: #FFA500;
$theme-color-light: rgba(255, 165, 0, 0.22);
$theme-color-black: #202020;
$theme-color-grey: #828282;
$theme-color-faint: #B3B3B3;
$theme-color-faint-1: rgba(198, 198, 198, 0.11);
$theme-color-off-white: #D8D8D8;
$theme-blue: #0091FF;
$theme-green: #009D4C;
;

// Fonts
$them-font: Notosans-Bold;
$them-font-2: Notosans;

// Font sizes
$theme-hero: 49px;
$theme-title: 44px;
$theme-header: 28px;
$theme-title-1: 20px;
$theme-regular: 16px;
$theme-small: 14px;
$theme-smaller: 12px;
$theme-tiny: 10px;
$theme-tinier: 8px;

// Line heights
$theme-line-hero: 99px;
$theme-line-title: 52px;
$theme-line-header: 42px;
$theme-line-title-1: 38px;
$theme-line-regular: 30px;
$theme-line-small: 25px;
$theme-line-smaller: 20px;
$theme-line-tiny: 18px;
$theme-line-tinier: 15px;

