@import "../mixins/mediaqueries";

.max-h-100{
  max-height: 50px !important;
  @include sm {
    max-height: 65px!important;
  }
  @include md {
    max-height: 75px!important;
  }
  @include lg {
    max-height: 100px!important;
  }
}
.max-h-200{
  max-height: 100px !important;
  @include sm {
    max-height: 150px!important;
  }
  @include md {
    max-height: 180px!important;
  }
  @include lg {
    max-height: 200px!important;
  }
}
.max-h-400 {
  max-height: 200px!important;
  @include sm {
    max-height: 300px!important;
  }
  @include md {
    max-height: 350px!important;
  }
  @include lg {
    max-height: 400px!important;
  }
}
.max-h-600 {
  max-height: 300px!important;
  @include sm {
    max-height: 400px!important;
  }
  @include md {
    max-height: 500px!important;
  }
  @include lg {
    max-height: 550px!important;
  }
  @include xl {
    max-height: 600px!important;
  }
}
.max-h-750 {
  max-height: 375px!important;
  @include sm {
    max-height: 455px!important;
  }
  @include md {
    max-height: 590px!important;
  }
  @include lg {
    max-height: 690px!important;
  }
  @include xl {
    max-height: 750px!important;
  }
}



.h-600 {
  height: 300px!important;
  @include sm {
    height: 400px!important;
  }
  @include md {
    height: 500px!important;
  }
  @include lg {
    height: 550px!important;
  }
 @include xl {
    height: 600px!important;
  }

}
.h-750 {
  height: 375px!important;
  @include sm {
    height: 455px!important;
  }
  @include md {
    height: 590px!important;
  }
  @include lg {
    height: 690px!important;
  }
  @include xl {
    height: 750px!important;
  }
}
.h-100{
  height: 50px !important;
  @include sm {
    height: 65px!important;
  }
  @include md {
    height: 75px!important;
  }
  @include lg {
    height: 100px!important;
  }
}
.h-200{
  height: 100px !important;
  @include sm {
    height: 150px!important;
  }
  @include md {
    height: 180px!important;
  }
  @include lg {
    height: 200px!important;
  }
}
.h-50-c {
  height: 15px !important;
  @include sm {
    height: 25px!important;
  }
  @include md {
    height: 40px!important;
  }
  @include lg {
    height: 50px!important;
  }
}

.h-300{
  height: 100px !important;
  @include sm {
    height: 200px!important;
  }
  @include md {
    height: 250px!important;
  }
  @include lg {
    height: 300px!important;
  }
}
.h-400 {
  height: 200px!important;
  @include sm {
    height: 300px!important;
  }
  @include md {
    height: 350px!important;
  }
  @include lg {
    height: 400px!important;
  }
}

.mh-25 {
  max-height: 25vh !important;
}
.mh-50 {
  max-height: 50vh !important;
}
.mh-75 {
  max-height: 75vh !important;
}
.mh-60 {
  max-height: 60vh !important;
}
.mh-62 {
  max-height: 62vh !important;
}
.mh-65 {
  max-height: 65vh !important;
}
.mh-80 {
  max-height: 80vh !important;
}
.h-7h {
  height: 7vh;
  min-height: 7vh;
  max-height: 7vh;
}
.h-10h {
  height: 10vh;
  min-height: 10vh;
  max-height: 10vh;
}
.h-18h {
  height: 18vh !important;
  min-height: 18vh !important;
  max-height: 18vh !important;
}

.h-52h {
  height: 52vh !important;
  min-height: 52vh !important;
  max-height: 52vh !important;
}
.h-45h {
  height: 45vh !important;
  min-height: 45vh !important;
  max-height: 45vh !important;
}
.h-40h {
  height: 40vh !important;
  min-height: 40vh !important;
  max-height: 40vh !important;
}
.h-30h {
  height: 30vh !important;
  min-height: 30vh !important;
  max-height: 30vh !important;
}

.h-60h {
  height: 60vh;
  min-height: 60vh;
  max-height: 60vh;
}
.h-65h {
  height: 65vh;
  min-height: 65vh;
  max-height: 65vh;
}
.h-62h {
  height: 62vh;
  min-height: 62vh;
  max-height: 62vh;
}
.h-70h {
  height: 70vh;
  min-height: 70vh;
  max-height: 70vh;
}
.h-72h {
  height: 72vh;
  min-height: 72vh;
  max-height: 72vh;
}

.h-75h {
  height: 75vh;
  min-height: 75vh;
  max-height: 75vh;
}
.h-80h {
  height: 80vh;
  min-height: 80vh;
  max-height: 80vh;
}
.h-85h {
  height: 85vh;
  min-height: 85vh;
  max-height: 85vh;
}
.min-h-100 {
  //height: 100vh;
  min-height: 100vh;
  //max-height: 100vh;
}

