@import "../mixins/mediaqueries";
.no-margin {
  margin: 0!important;
}
.margin-center {
  margin: 0 auto!important;
}
.m-r-2-5 {
  margin-right: 2.5rem;
}
.m-l-5 {
  margin-left: 5px!important;
}
.m-l-10 {
  margin-left: 10px!important;
}
.m-l-20 {
  margin-left: 20px!important;
}
.m-r-5 {
  margin-right: 5px!important;
}
.m-r-10 {
  margin-right: 10px!important;
}
.m-t-10 {
  margin-top: 10px!important;
}
.m-t-20 {
  margin-top: 20px!important;
}
.m-t--20 {
  margin-top: -20px!important;
}
.m-t-40 {
  margin-top: 20px!important;
  @include lg {
    margin-top: 40px!important;
  }
  //@include xl {
  //  margin-top: 40px!important;
  //}
}
.m-t-50 {
  margin-top: 50px;
}
.m-t-5 {
  margin-top: 5px!important;
}
.m-b-5 {
  margin-bottom: 5px!important;
}
.m-b-10 {
  margin-bottom: 10px!important;
}
.m-b-20 {
  margin-bottom: 20px!important;
}
.m-b-40 {
  margin-bottom: 40px!important;
}
.m-b-50 {
  margin-bottom: 50px!important;
}
.login-form-margin {
  padding: 0;
  @include md {
    position: absolute;
    top: 40px;
  }
  @include lg {
    margin: auto;
    padding-top: 33.3%;
  }
}
.login-form-padding {
  padding: 0;
}
.neg-m-b-50 {
  margin-bottom: -50px;
}
.neg-m-b-60 {
  margin-bottom: -60px;
}
.neg-m-l-28 {
  margin-left: -28px;
}
.neg-m-l-20{
  margin-left: -20px;
}
.neg-m-t-10{
  margin-top: -10px;
}
