footer {
  margin-top: 50px;
  .top {
    //background-color: $theme-color-black;
    color: $theme-color-grey;

    .content {
      padding: 50px 20px;
    }
  }
.footer-bg {
  background-image: url("../images/home/mapBg.svg");
  mix-blend-mode: normal;
  //opacity: 0.5;
  //width: 36.81vw; //682px
  //height: 332px;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-position: center;
}
  .bottom {
    .footer-left {
      .logo {
        width: 200px;
        display: flex;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
