.fonts{
  font-family: Poppins monospace;
  font-style: normal;
  color: #FFFFFF;
}
.slide1{
  @extend .fonts;
  background-image: url('../images/kat-yukawa-K0E6E0a0R3A-unsplash 1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height:85vh;
  max-width: 100vw;


  .content1 {
    position: absolute;
    left: 14vw !important;
    top: 35vh;
    width: 60vw;
    height: 8.7vh;
  }


  .small1{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

  }
  .hero{
    margin-top: 2vh;
    font-weight: bold;
    font-size: 3.125vw;
    line-height: 140.5%;
    /* or 67px */
  }
  .small2{
    margin: 2vh 0;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }
  button{
    font-weight: 500;
    font-size: 16px !important;
    line-height: 16px !important;
    text-align: center;
    padding: 1rem;
    margin-top: 3vh;

  }

}
.content2{
  background-image: url('../images/howItWorks.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height:26vh;
  width: 30vw;
  max-width: 100vw;
  max-height: 35vh;
 @extend .fonts;
}
.page {
  padding: 10px 30px;
}

.howItWorks {
  @extend .fonts;
  font-weight: 500;
  font-size: 22px;
  line-height: 140.5%;
  color: #1d2124;
  /* or 31px */
  padding: 4vh 0;
  align-items: center;
}
.projects{
  @extend .fonts;
  color: #1d2124;
  h3, {
    font-weight: 600;
    font-size: 18px;
    line-height: 140.5%;
    /* or 25px */

    display: flex;
    align-items: center;

    /* Text */

    color: #212121;
  }
  .raised{
    font-weight: 600;
    font-size: 18px;
    line-height: 140.5%;
    color: #212121;
  }
  .posted-by {
    font-size: 14px;
    line-height: 140.5%;
  }
}
.viewMoreBtn {
  font-family: Poppins sans-serif;
  font-size: 16px !important;
  background: inherit;
  &:hover {
    border-bottom: solid 1px;
    transition: border-bottom 2s linear;
  }
}
.categoryButtons {
  /* Text */
  background: #FFFFFF;
  height: 50px;
  border: 1px solid #A01B88;
  box-sizing: border-box;
  border-radius: 10px;
  span {
    @extend .fonts;
    font-size: 16px;
    color: #212121;
    font-style: normal;
    font-weight: 500;
    line-height: 140.5%;
    /* or 22px */
    align-items: center;
  }
}
.category {
  .title {
    @extend .fonts;
    font-weight: 500;
    font-size: 22px;
    color: #212121;
  }
}
//@media screen and (min-width: 320px) {
//  .hero {
//    font-size: calc(8px + 8 * ((100vw - 320px) / 680)) !important;
//    //line-height: calc(100% + 8 * ((100vw - 320px) / 680)) !important;
//    //margin-top: calc(.5vh + 8 * ((100vw - 320px) / 680)) !important;
//  }
//  .small1, .small2, .butt {
//    font-size: calc(3px + 8 * ((100vw - 320px) / 680)) !important;
//    line-height: calc(1px + 8 * ((100vw - 320px) / 680)) !important;
//  }
//  .content1 {
//    left: calc(0.5vw + 8 * ((100vw - 320px) / 680)) !important;
//  }
//
//}
//@media screen and (min-width: 1000px) {
//  .hero {
//    font-size: 14px !important;
//  }
//  .small1 {
//    font-size: 8px !important;
//  }
//.small2, .butt {
//    font-size: 7px !important;
//  }
//
//}
//@media screen and (min-width: 1300px) {
//  .hero {
//    font-size: 20px !important;
//    //width: 30vw;
//    padding-right: 5vw;
//  }
//  .small1 {
//    font-size: 8px !important;
//  }
//.small2, .butt {
//    font-size: 7px !important;
//  }
//
//}

