.butterfly{
perspective: 500px;
transform-style: preserve-3d;
transform: rotate3d(2, 1, -1, 90deg);

&::before, &::after {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  background: #fff;
  animation: {
    duration: 3s;
  timing-function: linear;
  iteration-count: infinite;
  }
}
  &::before {
  left: 0;
  opacity: 0.7;
  border-top-right-radius: 0;
  transform-origin: right top;
  animation-name: flapL;
}
&::after {
  left: 50%;
  opacity: 0.5;
  border-top-left-radius: 0;
  transform-origin: left top;
  animation-name: flapR;
}
}
@keyframes flapL {
25%, 50%{transform:rotateY(-45deg)}
  12.5%, 37.5%, 65% {transform:rotateY(45deg)}
  0%, 100% {transform:rotateY(-30deg)}};


@keyframes flapR {
25%, 50% {transform:rotateY(45deg)}
12.5%, 37.5%, 65% {transform:rotateY(- 45deg)}
0%, 100% {transform:rotateY(30deg)}};


.dots_loader span {
  display: inline-block;
  vertical-align: middle;
  width: .6em;
  height: .6em;
  margin: .19em;
  background: #007DB6;
  border-radius: .6em;
  animation: loading 1s infinite alternate;
  /*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
  &:nth-of-type(2) {
    background: #008FB2;
    animation-delay: 0.2s;
  }
  &:nth-of-type(3) {
    background: #009B9E;
    animation-delay: 0.4s;
  }
  &:nth-of-type(4) {
    background: #00A77D;
    animation-delay: 0.6s;
  }
  &:nth-of-type(5) {
    background: #00B247;
    animation-delay: 0.8s;
  }
  &:nth-of-type(6) {
    background: #5AB027;
    animation-delay: 1.0s;
  }
  &:nth-of-type(7) {
    background: #A0B61E;
    animation-delay: 1.2s;
  }
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
