.butterfly{
perspective: 500px;
transform-style: preserve-3d;
transform: rotate3d(2, 1, -1, 90deg);

&::before, &::after {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  background: #fff;
  animation: {
    duration: 3s;
  timing-function: linear;
  iteration-count: infinite;
  }
}
  &::before {
  left: 0;
  opacity: 0.7;
  border-top-right-radius: 0;
  transform-origin: right top;
  animation-name: flapL;
}
&::after {
  left: 50%;
  opacity: 0.5;
  border-top-left-radius: 0;
  transform-origin: left top;
  animation-name: flapR;
}
}
@keyframes flapL {
25%, 50%{transform:rotateY(-45deg)}
  12.5%, 37.5%, 65% {transform:rotateY(45deg)}
  0%, 100% {transform:rotateY(-30deg)}};


@keyframes flapR {
25%, 50% {transform:rotateY(45deg)}
12.5%, 37.5%, 65% {transform:rotateY(- 45deg)}
0%, 100% {transform:rotateY(30deg)}};


.dots_loader span {
  display: inline-block;
  vertical-align: middle;
  width: .6em;
  height: .6em;
  margin: .19em;
  background: #007DB6;
  border-radius: .6em;
  animation: loading 1s infinite alternate;
  /*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
  &:nth-of-type(2) {
    background: #008FB2;
    animation-delay: 0.2s;
  }
  &:nth-of-type(3) {
    background: #009B9E;
    animation-delay: 0.4s;
  }
  &:nth-of-type(4) {
    background: #00A77D;
    animation-delay: 0.6s;
  }
  &:nth-of-type(5) {
    background: #00B247;
    animation-delay: 0.8s;
  }
  &:nth-of-type(6) {
    background: #5AB027;
    animation-delay: 1.0s;
  }
  &:nth-of-type(7) {
    background: #A0B61E;
    animation-delay: 1.2s;
  }
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$dial-loader-color: #530606;
$dial-loader-size: 14.6rem;
$dial-loader-offset: 1.7rem;
$dial-loader-timing: ease-in-out;

.dial-loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $dial-loader-size;
  margin-top: $dial-loader-size/2;
  margin-bottom: $dial-loader-size/2;
  &:before,
  &:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: $dial-loader-timing;
    filter: drop-shadow(0 0 $dial-loader-offset/2.25 rgba($dial-loader-color, 0.75));
  }
  &:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 $dial-loader-offset $dial-loader-color;
    animation-name: pulsA;
  }
  &:after {
    width: calc(100% - #{$dial-loader-offset}*2);
    padding-bottom: calc(100% - #{$dial-loader-offset}*2);
    box-shadow: 0 0 0 0 $dial-loader-color;
    animation-name: pulsB;
  }
}

@keyframes pulsA {
  0% { box-shadow: inset 0 0 0 $dial-loader-offset $dial-loader-color; opacity: 1; }
  50%, 100% { box-shadow: inset 0 0 0 0 $dial-loader-color; opacity: 0; }
}

@keyframes pulsB {
  0%, 50% { box-shadow: 0 0 0 0 $dial-loader-color; opacity: 0; }
  100% { box-shadow: 0 0 0 $dial-loader-offset $dial-loader-color; opacity: 1; }
}



$animation-duration: 1.8s;

.to-fro-lines {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
  background: #3498DB;
  border-radius: 5px;
  animation: load $animation-duration ease-in-out infinite;
  &:before, &:after {
    position: absolute;
    display: block;
    content: "";
    animation: load $animation-duration ease-in-out infinite;
    height: 10px;
    border-radius: 5px;
  }
  &:before {
    top: -20px;
    left: 10px;
    width: 40px;
    background: #EF4836;
  }
  &:after {
    bottom: -20px;
    width: 35px;
    background: #F5AB35;
  }
}

@keyframes load {
  0% {
    transform: translateX(40px);
  }

  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(40px);
  }
}

.official-loader {
  background: white;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  .bar {
    position: relative;
    height: 2px;
    width: 500px;
    margin: 0 auto;
    background: #fff;
    margin-top: 150px;
  }

  .circle {
    position: absolute;
    top: -30px;
    margin-left: -30px;
    height: 60px;
    width: 60px;
    left: 0;
    background: purple;
    border-radius: 30%;
    -webkit-animation: move 5s infinite;
  }

  p {
    position: absolute;
    top: -35px;
    right: -85px;
    text-transform: uppercase;
    color: white;
    font-family: helvetica, sans-serif;
    font-weight: bold;
  }

}
@keyframes move {
  0% {
    left: 0;
  }

  50% {
    left: 100%;
    -webkit-transform:
      rotate(450deg);
    width: 150px; height: 150px;
  }
  75% {
    left: 100%;
    -webkit-transform:
      rotate(450deg);
    width: 150px; height: 150px;
  }

  100% {
    right: 100%;
  }
}


