.brandWrapper{

  position: relative;
  overflow: hidden !important;
}
.slide-left {
    -webkit-animation: slide-left .7s linear  ;
    animation: slide-left .7s linear  ;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
}
.slide-right {

    -webkit-animation: slide-right .7s linear ;
    animation: slide-right .7s linear  ;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
}
.media-slide {
  &:hover {
    opacity: 28%;
  }
}


@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
