.c-modal {
  @extend .z-indexMax;
  display: block;
  position: fixed;
  width: 500px;
  background: white;
  box-shadow:
    -2rem 2rem 2rem rgba(black, 0.2);
  border: 1px solid #ccc;
  @media (prefers-reduced-motion) {
    offset-path: none;
  }
}
.custom-modal {
  transition: 1.1s ease-out;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;

  //&.backdrop::backdrop{
  //  background-color: #448;
  //}
  @supports (offset-rotate: 0deg) {
    // OLD
    // offset-rotation: 0deg;
    // NEW
    offset-rotate: 0deg;
    &.off {
      offset-distance: 100%;
    }
  }


}
.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(black, 0.2);
}
.content {
  padding: 1rem;
}
.right {
  right: 3vw;
}
.left {
  left: 3vw;
}
.top {
  top: 3vh;
}
.bottom {
  bottom: 1vh;
}
.center{
  right: 35.5vw;
}
.mid{
  top: 35.5vh;
}
.profile-drop {
  top: -1vh;
  right: 10.5vw;
}
.z-indexMax {
  z-index: 100000;
}
.hidden {
  visibility: hidden;
}
.top-right-coner {
  position: absolute;
  right: 0;
  top: -22px;
}
