.styled-mui.MuiAvatar-colorDefault {
  color: #fff !important;
  background-color: #A01B88 !important;
}
.avatar.MuiAvatar-root {
  width: 300px !important;
  height: 300px !important;
}
.MuiPickersStaticWrapper-staticWrapperRoot, .MuiPickersBasePicker-pickerView {
  min-width: 210px !important;
}
.quick-links.MuiListItem-gutters {
  padding-left: 0!important;
  padding-right: 0!important;
}
.MuiListItemIcon-root {
  min-width: 1px !important;
}
