.styled-mui.MuiAvatar-colorDefault {
  color: #fff !important;
  background-color: #A01B88 !important;
}
.avatar.MuiAvatar-root {
  width: 300px !important;
  height: 300px !important;
}
.MuiPickersStaticWrapper-staticWrapperRoot, .MuiPickersBasePicker-pickerView {
  min-width: 210px !important;
}
.quick-links.MuiListItem-gutters {
  padding-left: 0!important;
  padding-right: 0!important;
}
.MuiListItemIcon-root {
  min-width: 1px !important;
}

.black-drawer .MuiDrawer-paper {
    background: $theme-color-black !important;
}
.white-header .css-1t29gy6-MuiToolbar-root {
  background: white !important;
}
.MuiPaper-elevation2 {
  box-shadow: none!important;
}
.MuiTableCell-root{
  border-bottom: none !important;
}
