@import "variables/theme";
@import "variables/breakpoints";
@import "mixins/sizes";
.logo-full {
  color: $theme-color-black;
  max-width: 163px;
}
.font-small {
  font-size: $theme-small;
  line-height: $theme-line-small;
  @include font-size($screen-sm-min, $screen-xl-min, 12, $theme-small, 15, $theme-line-small);
}
.font-regular {
  font-size: $theme-regular;
  line-height: $theme-line-regular;
  @include font-size($screen-sm-min, $screen-xl-min, $theme-small, $theme-regular, 20, $theme-line-regular);
}
.font-title-small {
  @include font-size($screen-sm-min, $screen-xl-min, $theme-regular, $theme-title-1, 23, $theme-line-title-1);
}
.font-title {
  @include font-size($screen-sm-min, $screen-xl-min, $theme-title-1, $theme-title, 25, $theme-line-title);
}
.font-hero {
  @include font-size($screen-sm-min, $screen-xl-min, $theme-line-title-1, $theme-hero, 25, $theme-line-hero);
}
.font-30 {
  @include font-size($screen-sm-min, $screen-xl-min, 20, 30, 20, 45);
}
.text-theme-black {
  color: $theme-color-black !important;
}
.text-theme-grey {
  color: $theme-color-grey !important;
}
.text-theme-faint {
  color: $theme-color-faint !important;
}
.text-theme-blue {
  color: $theme-blue;
}

.text-theme {
  color: $theme-color !important;
}
.bg-theme {
  background: $theme-color !important;
}
.bg-theme-black {
  background: $theme-color-black !important;
}
.bg-theme-grey {
  background: $theme-color-grey !important;
}
.bg-theme-faint {
  background: $theme-color-faint !important;
}
.bg-theme-light {
  background: $theme-color-light !important;
}
.bg-theme-off-white {
  background: $theme-color-off-white !important;
}

.theme-font{
  font-family: Notosans-regular sans-serif;
}
.theme-font-bold {
  font-family: Notosans-Bold sans-serif;
}
.theme-hover {
  &:hover {
    @extend .bg-theme-light;
    background: radial-gradient($theme-color-light 25%, $theme-color-off-white 100%);
    color: $theme-color;
    //@extend .text-theme;
  }
}
svg:not(:root) {
  overflow: hidden;
  @include max-width-size($screen-sm-min, $screen-xl-min, 211px, 500px);
}

.center-horizontal {
  margin: auto;
  width: fit-content;
}
.center-vertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}



